.hero {
  background-color: rgb(140, 197, 197);
}

h1 {
  text-decoration: underline;
}

.xd {
  color: red;
}

.top-header {
  position: fixed;
  background-color: cyan;
  width: 100%;
  height: 5rem; /* 80px */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.25rem; /* 20px */
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-horizontal li {
  display: block;
  color: blue;
  padding: 0.9375rem 1.25rem; /* 15px 20px */
}

.menu-horizontal li a:hover {
  color: red;
}

.menu-horizontal li a {
  text-decoration: none;
}

.menu-vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 12.5rem; /* 200px */
  background-color: cyan;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li {
  color: orange;
  padding: 0.625rem; /* 10px */
}

.seccion-inicio {
  padding: 1.25rem; /* 20px */
  background-color: white;
}

.cont-gral-inicio {
  display: flex;
  gap: 2.5rem; /* 40px */
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: blue;
}

.cont-ini-text {
  flex: 1;
}

.cont-ini-text h2 {
  color: red;
  margin-bottom: 0.9375rem; /* 15px */
}

.cont-ini-text p {
  line-height: 1.6;
}

.cont-ini-img {
  flex: 1;
  text-align: center;
}

.cont-ini-img img {
  width: 100%;
  max-width: 31.25rem; /* 500px */
  border-radius: 0.625rem; /* 10px */
}

.seccion-formulario {
  background-color: aquamarine;
  padding: 3.125rem 1.25rem; /* 50px 20px */
  display: flex;
  justify-content: center;
}

.div-cont-form {
  background-color: bisque;
  padding: 1.875rem; /* 30px */
  border-radius: 0.625rem; /* 10px */
  width: 100%;
  max-width: 31.25rem; /* 500px */
}

.div-cont-form h2 {
  color: brown;
  margin-bottom: 0.625rem; /* 10px */
}

.formulario .campo {
  margin-bottom: 1.25rem; /* 20px */
}

.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5625rem; /* 9px */
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 0.625rem; /* 10px */
  border: 0.0625rem solid rgb(90, 15, 165); /* 1px */
  border-radius: 0.625rem; /* 10px */
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-checkbox input,
.lista-radio input {
  margin-right: 6.25rem; /* 100px */
}

.formulario button {
  background-color: blueviolet;
  color: black;
  border-radius: 1.25rem; /* 20px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  cursor: pointer;
  font-size: 0.9375rem; /* 15px */
}
